  <div class="profile-container">
    <dx-form [formData]="user" labelLocation="top">
      <dxi-item dataField="Username">
        <ng-template dxTemplate="content">
          <div class="field-wrapper">
            <span *ngIf="!isEditingUsername">{{ user.Username }}</span>
            <dx-text-box *ngIf="isEditingUsername" [(value)]="user.Username"></dx-text-box>
            <dx-button icon="edit" *ngIf="!isEditingUsername" (onClick)="enableEdit('Username')"></dx-button>
            <dx-button text="Save" *ngIf="isEditingUsername" (onClick)="saveProfile(); disableEdit('Username')"></dx-button>
            <dx-button text="Cancel" *ngIf="isEditingUsername" (onClick)="disableEdit('Username')"></dx-button>
          </div>
        </ng-template>
      </dxi-item>
      <div style="text-align:center"></div>
  <h1>
  </h1>

  <div *ngIf="notificationMessage">
    <h2>New Notification:</h2>
    <p>{{ notificationMessage }}</p>
  </div>

      <dxi-item dataField="Email">
          <dxi-validation-rule
            type="required"
            message="Email is required"
          ></dxi-validation-rule>
          
        <dxi-validation-rule
              type="email"
              message="Email is invalid"
            ></dxi-validation-rule>

        <ng-template dxTemplate="content">
          <div class="field-wrapper">
            <span *ngIf="!isEditingEmail">{{ user.Email }}</span>
            <dx-text-box *ngIf="isEditingEmail" [(value)]="user.Email"></dx-text-box>
            <dx-button icon="edit" *ngIf="!isEditingEmail" (onClick)="enableEdit('Email')"></dx-button>
            <dx-button text="Save" *ngIf="isEditingEmail" (onClick)="saveProfile(); disableEdit('Email')"></dx-button>
            <dx-button text="Cancel" *ngIf="isEditingEmail" (onClick)="disableEdit('Email')"></dx-button>
          </div>
        </ng-template>
      </dxi-item>

      <dxi-item dataField="Frameworks">
        <ng-template dxTemplate="content">
          <div class="field-wrapper">
            <span *ngIf="!isEditingFrameworks">{{ user.Frameworks.join(', ') }}</span>
            <dx-tag-box *ngIf="isEditingFrameworks"
              [items]="availableFrameworks"
              [(value)]="user.Frameworks"
              displayExpr="name"
              valueExpr="name"
              placeholder="Select frameworks">
            </dx-tag-box>
            <dx-button icon="edit" *ngIf="!isEditingFrameworks" (onClick)="enableEdit('Frameworks')"></dx-button>
            <dx-button text="Save" *ngIf="isEditingFrameworks" (onClick)="saveProfile(); disableEdit('Frameworks')"></dx-button>
            <dx-button text="Cancel" *ngIf="isEditingFrameworks" (onClick)="disableEdit('Frameworks')"></dx-button>
          </div>
        </ng-template>
      </dxi-item>
    </dx-form>

    <h3>Previous Tests</h3>
    <dx-data-grid [dataSource]="previousTests">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" ></dxo-pager>
      <dxi-column dataField="testName" caption="Test Name"></dxi-column>
      <dxi-column dataField="date" caption="Date" dataType="date"></dxi-column>
      <dxi-column dataField="score" caption="Score" dataType="number"></dxi-column>
    </dx-data-grid>
  </div>

  