


html {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #000000, #0072ff);

}

body {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #000000, #0072ff);

}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000000, #0072ff);
  /* padding: 20px; */
}

.login-form {
  width: 400px;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}


.login-form h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

.login-form .dx-form {
  width: 100%;
}

.login-form .dx-texteditor {
  margin-bottom: 20px;
}

.login-form .dx-button-text {
  font-size: 18px;
  font-weight: 500;
}

.login-form .link {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.login-form .link a {
  text-decoration: none;
  color: #ff5722;
  transition: color 0.3s ease;
}

.login-form .link a:hover {
  color: #ff8a65;
}

::ng-deep .dx-textbox {
  border: none;
  border-bottom: 2px solid #cccccc;
  padding: 8px;
}

::ng-deep .dx-textbox:hover {
  border-bottom-color: #0072ff;
}

::ng-deep .dx-textbox.dx-state-focused {
  border-bottom-color: #00c6ff;
}

::ng-deep .dx-button {
  background-color: #0072ff;
  color: white;
  font-weight: bold;
}

::ng-deep .dx-button:hover {
  background-color: #00c6ff;
}

::ng-deep .dx-load-indicator {
  margin-right: 10px;
}
